* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  margin: 3%;
  text-align: center;
}

.responsive-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 90%;
  font-size: 200%;
}

td {
  /* uncomment the following line to see the cell layout */
  /* border: 2px solid red; */
  padding: 0.5rem;
}

.background {
  background-image: url(../images/bkg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.double-underlined {
  border-bottom: 0.2rem double #000000;
}

.green-flag {
  color: green;
  font-weight: bold;
}

.red-flag {
  color: #ff0000;
  font-weight: bold;
}

.right-aligned {
  text-align: right;
}

.shaded {
  background-color: #20b2aa73;
}

.underlined {
  border-bottom: 0.01rem solid #000000;
}

@media (min-width: 1200px) {
 .responsive-table {
  width: 40%;
  font-size: 120%;
 }
}